site_name: Onyx | CLI & Python API
site_url: https://climb-tre.github.io/onyx-client/
repo_url: https://github.com/CLIMB-TRE/onyx-client/
repo_name: CLIMB-TRE/onyx-client
site_author: CLIMB-TRE
extra:
  homepage: https://climb-tre.github.io/onyx/

theme:
  name: material
  favicon: assets/logo.svg
  logo: assets/logo.svg
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      
  features:
    - navigation.tabs
    - navigation.top
    - navigation.sections
    - navigation.footer
    - content.code.copy

plugins:
  - search
  - with-pdf:
      output_path: onyx-client.pdf
      cover_subtitle: ""
      copyright: " "
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            docstring_section_style: spacy
            show_source: false
            members_order: source
            show_bases: false

markdown_extensions:
  - attr_list
  - admonition
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.magiclink
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

nav:
  - Overview: https://climb-tre.github.io/onyx/
  - CLI & Python API:
    - Overview: index.md
    - Installation: installation.md
    - Accessibility: accessibility.md
    - Command-line Interface: 
      - Getting Started: cli/getting-started.md
      - Documentation: cli/documentation.md
    - Python API:
      - OnyxClient: api/documentation/client.md
      - OnyxConfig: api/documentation/config.md
      - OnyxEnv: api/documentation/env.md
      - OnyxField: api/documentation/field.md
      - Exceptions: api/documentation/exceptions.md
  - JupyterLab Extension: https://climb-tre.github.io/onyx-extension/
  - Types & Lookups:
      - Types: https://climb-tre.github.io/onyx/fields/types/
      - Lookups: https://climb-tre.github.io/onyx/fields/lookups/
  - CLIMB-TRE: https://climb-tre.github.io
