site_name: Onyx-client
site_url: https://climb-tre.github.io/onyx-client/
repo_url: https://github.com/CLIMB-TRE/onyx-client/
repo_name: CLIMB-TRE/onyx-client
site_author: CLIMB-TRE

theme:
  name: material
  logo: assets/logo.svg
  icon:
    repo: fontawesome/brands/github
  palette:
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: black
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Switch to dark mode

    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: custom
      toggle:
        icon: material/weather-night
        name: Switch to light mode
      
  features:
    - navigation.tabs
    - navigation.tabs.sticky
    # - navigation.sections
    # - navigation.top
    # - toc.integrate
    - content.code.copy

# extra:
#   version:
#     provider: mike

plugins:
  - search
  - autorefs
  - mkdocstrings:
      default_handler: python
      handlers:
        python:
          options:
            docstring_style: google
            docstring_section_style: spacy
            show_source: false
            members_order: source
            show_bases: false
  - with-pdf:
      output_path: onyx-client.pdf
      cover_subtitle: ""

markdown_extensions:
  - attr_list
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.magiclink
  - toc:
      permalink: true

extra_css:
  - stylesheets/extra.css

nav:
  - Overview: index.md
  - Command-line interface: 
    - Getting started: cli/getting-started.md
    - Documentation: cli/documentation.md
  - Python API:
    # - Getting started: api/getting-started.md
    - Documentation:
      - OnyxClient: api/documentation/client.md
      - OnyxConfig: api/documentation/config.md
      - OnyxEnv: api/documentation/env.md
      - OnyxField: api/documentation/field.md
      - Exceptions: api/documentation/exceptions.md
  - Types & Lookups:
      - Types: fields/types.md
      - Lookups: fields/lookups.md
  - CLIMB-TRE: https://climb-tre.github.io
