name: Build documentation

on:
  push:
    branches:
      - master 
      - main

permissions:
  contents: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV 
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - name: Install dependencies
        run: |
          pip install .
          pip install typer-cli
          pip install mkdocs-material
          pip install mkdocstrings[python]
      - name: Deploy site
        run: |
          typer onyx.cli utils docs --output docs/cli.md
          mkdocs gh-deploy --force
